@model IEnumerable<DataLayer.Page>


<div class="w3-content w3-section" id="SliderContent" style="max-width:900px; margin-top:-20px">
    @foreach (var item in Model)
    {
        <div class="mySlides">
            <h2 class="title">@item.Title</h2>
            @*<hr/>*@
            <img src="~/PageImages/@item.ImageName" style="width:100%">
        </div>

    }

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>
</div>


